@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} 

.bg {
  background-image: url(../img/bg3.jpg);
  width: 100%;
  height: 1080px;
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

body {
  color: rgb(var(--foreground-rgb));
}

h1 {
  padding: 1rem;
}
